.enterMembershipInfo{
    text-align: center;
}
hr{
    background-color: darkblue;
    height: 2px;
    width: 600px;
}
label{
    width: 110px;
    display: inline-block;
}
#logoPic{
    width: 200px;
    height: 100px;
}
#enterId{
    width: 300px;
    height: 30px;
    border-color: darkblue;
}
#enterPassword
{
    width: 300px;
    height: 30px;
    border-color: darkblue;
} 
#againEnterPW
{
    width: 300px;
    height: 30px;
    border-color: darkblue;
}
#enterName{
    width: 300px;
    height: 30px;
    border-color: darkblue;
}
#enterNickname{
    width: 300px;
    height: 30px;
    border-color: darkblue;
}
#enterphone{
    margin-left: 105px;
    margin-top: 20px;
}
#enterPhoneNum{
    width: 300px;
    height: 30px;
    border-color: darkblue;
}
#enterVericationCode{
    width: 300px;
    height: 30px;
    border-color: darkblue;
    margin-left: 115px;
    margin-top: 5px;
}
#receiveVericationCode{
    background-color: white;
    border-color: darkblue;
    height: 35px;
    width: 100px;  
}
#joinOurWeb{
    background-color: white;
    border-color: darkblue;
    height: 50px;
    width: 420px; 
    margin-bottom: 10px;
    font-size: 20px;
}