#title, #replacePW {
  margin-left: 105px;
}

#newPW_text, #checkPW_text {
  display: inline-block;
  width: 100px;
}

#replacePW {
  display: block;
  margin-top: 40px;
  width: 110px;
}

#newPW_input, #checkPW_input {
  width: 300px;
}

#etc {
  margin-top: 12px;
}

html {
  overflow: hiddlen;
  white-space: nowrap;
}

div {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  margin: auto;
}

input {
  width: 150px;
  height: 30px;
  border: 2px solid navy;
}

button {
  width: 100px;
  height: 30px;
  background-color: white;
  border: 2px solid navy;
}