<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유게시판</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div class = "menu">
    <img id=logoPic src="https://media.discordapp.net/attachments/1083261485498781763/1090877545580343406/image.png?width=510&height=213">
    <nav id = "menubar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="../board">자유게시판</a></li>
            <li><a href="../board">식단&운동 공유 게시판</a></li>
            <li><a href="../searchFitnessCenter">내 주변 헬스장 찾기</a></li>
            <li><a href="../board">공지</a></li>
        </ul>
    </nav>
    <a href="<%= link %>"><%= text %></a>
  </div><br><br>
  <div class="board">
    <div id="boardtitle">
      <p style="margin-left: 10px; font-size: 17px;">자유게시판<p>
      <button id="writing" onclick="location.href = '/writeboard'">글 쓰기</button>
    </div>
    <hr>
    <p id="post_id">번호</p>
    <p id="post_title">제목</p>
    <p id="post_date">날짜</p>
    <p id="post_views">조회수</p>
    <p id="post_recommends">추천수</p>
    <hr>
    <article class="posts" id="post1">
      <p id="post_id">1</p>
      <p id="post_title">안녕하세요</p>
      <p id="post_date">04/28</p>
      <p id="post_views">15</p>
      <p id="post_recommends">3</p>
    </article>
  </div>
  <script type="commomjs" src="/board.js"></script>
</body>