<!doctype html>
<html lang="ko">
<head>
<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<script type="text/javascript">
  var naver_id_login = new naver_id_login("_TfPuP5dkHKuaSNr6o3W", "http://localhost:5500/SWCapstone/server/views/callback.html");
  // 접근 토큰 값 출력
  alert(naver_id_login.oauthParams.access_token);
  // 네이버 사용자 프로필 조회
  naver_id_login.get_naver_userprofile("naverSignInCallback()");
  // 네이버 사용자 프로필 조회 이후 프로필 정보를 처리할 callback function
  function naverSignInCallback() {
    alert(naver_id_login.getProfileData('email'));
    alert(naver_id_login.getProfileData('nickname'));
    alert(naver_id_login.getProfileData('age'));

    //https://nid.naver.com/oauth2.0/token?grant_type=delete&client_id=_TfPuP5dkHKuaSNr6o3W&client_secret=eXsQX7Vixe&access_token=AAAAOpilSv5YG5gLDhS1fAASjCGIwbPpuvYIfDD96x57dMahPRkUM3-Yr4hXJzY5PwWDLKM2XnA5W7-TXoQ6bHRoVXU&service_provider=NAVER

  }
</script>
</body>
</html>