<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>로그인</title>
    <link href="/login/login.css" rel="stylesheet">
  </head>
  <body>
    <div>
      <a href="/">
        <img src="/img/logo.png" id="image">
      </a>
      <hr>
      <input type="text" id="id_input" placeholder="ID">
      <input type="password" id="pw_input" placeholder="PW">
    </div>
    <div id="buttons">
      <a id="login">로그인</a>
      <a href="../join" id="join">회원가입</a>
      <a href="../findID" id="search_idpw">ID/PW 찾기</a>
    </div>
    <script src="/login/login.js?ver=1"></script>
  </body>
</html>