<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인화면</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class = "menu">
        <img id=logoPic src="https://media.discordapp.net/attachments/1083261485498781763/1090877545580343406/image.png?width=510&height=213">
        <nav id = "menubar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/board">자유게시판</a></li>
                <li><a href="/board">식단&운동 공유 게시판</a></li>
                <li><a href="/board">내 주변 헬스장 찾기</a></li>
                <li><a href="/board">공지</a></li>
            </ul>
        </nav>
    </div><br><br>
    <div id="video">
        <iframe width="900" height="500" src="https://www.youtube.com/embed/BIEezW7aPRw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard_summ-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div><br>
    <div class="enjoySpace">
        <div class="choicehealth">
            <p style="text-align: center;"><strong>&lt;오.운.추(오늘의 운동 추천)&gt;</strong></p>
            <p id="todayExercise">오늘 운동은 등 각입니다.</p>
            <button id="choiceOtherHealth">아니! 오늘은 다른 부위 할껀데</button>
        </div>
        <div class="calWeight">
            <p style="text-align: center;"><strong>&lt;BMI 측정하기&gt;</strong></p>
            <p>
                <form>
                    <label>키 입력: </label>
                    <input type="text" name="height" id="height">
                    <label>몸무게 입력: </label>
                    <input type="text" name="weight" id="weight">
                    <input type="button" value="BMI 계산" id="resultbtn">
                </form>
            </p>
            <p id="resultBMI">BMI 결과</p>
        </div>
    </div><br>
    <div id="board_summ"> 
        <article class="board_summ" id="free_board_summ">
            <h4>자유게시판</h4>
            <hr>
            <h5>글 목록</h5>
            <p>글1</p>
        </article>
        <article class="board_summ" id="question_board_summ">
          <h4>질문게시판</h4>
          <hr>
          <h5>글 목록</h5>
          <p>글1</p>
        </article>
        <article class="board_summ" id="routine_board_summ">
          <h4>운동루틴 게시판</h4>
          <hr>
          <h5>글 목록</h5>
          <p>글1</p>
        </article>
        <article class="board_summ" id="meal_board_summ">
          <h4>식단 게시판</h4>
          <hr>
          <h5>글 목록</h5>
          <p>글1</p>
        </article>
        <article class="board_summ" id="journal_board_summ">
          <h4>운동일지 게시판</h4>
          <hr>
          <h5>글 목록</h5>
          <p>글1</p></article>
        
        <article class="board_summ" id="search_gym">헬스장 검색<br><img id="mappic" src="https://bigdata.changwon.go.kr/portal/img/map/jpg/map_changwon_2022.jpg"></article>
    </div>
    <script src="/main.js"></script>
</body>
</html>