.findIDPW{
    text-align: center;
    width: 100%;
    margin-top: 30px;
}
.FIPtitle{
    border-bottom: 2px solid darkblue;
    margin: 0 auto;
    width: 43%;
}
.FIPtitle img{
    width: 40%;
    height: 15vh;
}
.FIPtitle p{
    font-size: 1.5rem;
    font-weight: bold;
    color: navy;
}
.findIDPWInfoArea{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.findIDPWInfoArea label{
    display: inline-block;
	text-align: center;
	width: 140px;
    height: 6vh;
    font-size: 18px;
    justify-content: center;
}
.enterID input{
    margin-top: 1rem;
}
.findIDPWInfoArea input{
    border: 2px solid navy;
    border-radius: 10px;
    width: 30%;
    height: 6vh;
    padding-left: 10px;
    font-size: 1rem;
}
#phonenum{
    border: 2px solid navy;
    border-radius: 10px;
    width: 20%;
    height: 6vh;
    padding-left: 10px;
}
.getCheckingCode button{
	width: 9%;
    height: 6vh;
    border: 2px solid navy;
    border-radius: 10px;
    background-color: white;
    margin-left: 10px;
    font-size: 16px;
    justify-content: center;
    cursor: pointer;
}
.getCheckingCode button:hover{
    background-color: navy;
    color: white;
}
#checkPWCode{
    border: 2px solid navy;
    border-radius: 10px;
    width: 30%;
    height: 6vh;
    padding-left: 10px;
    margin-left: 140px;
}
.getCheckingCode label{
    display: inline-block;
	text-align: center;
	width: 140px;
    height: 6vh;
    font-size: 18px;
    justify-content: center;
}
.FIPbtnArea button{
    width: 31%;
    height: 7vh;
    border: none;
    background-color: navy;
    color: white;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-left: 140px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}