.JoinMembership{
    text-align: center;
    width: 100%;
    margin-top: 30px;
}
.Jtitle{
    border-bottom: 2px solid darkblue;
    margin: 0 auto;
    width: 43%;
}
.Jtitle img{
    width: 40%;
    height: 15vh;
}
.enterMembershipInfo{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inputBox label{
    display: inline-block;
	text-align: center;
	width: 140px;
    height: 6vh;
    font-size: 18px;
    justify-content: center;
}
.inputBox input{
    border: 2px solid navy;
    border-radius: 10px;
    width: 30%;
    height: 6vh;
    padding-left: 10px;
    font-size: 0.9rem;
}
#phoneNum{
    border: 2px solid navy;
    border-radius: 10px;
    width: 20%;
    height: 6vh;
    padding-left: 10px;
}
.enterPhoneNum label{
    display: inline-block;
	text-align: center;
	width: 140px;
    height: 6vh;
    font-size: 18px;
    justify-content: center;
}
.enterPhoneNum button{
	width: 9%;
    height: 6vh;
    border: 2px solid navy;
    border-radius: 10px;
    background-color: white;
    margin-left: 10px;
    font-size: 16px;
    justify-content: center;
    cursor: pointer;
}
#inputCheckNum{
    border: 2px solid navy;
    border-radius: 10px;
    width: 30%;
    height: 6vh;
    padding-left: 10px;
    margin-left: 140px;
}
.joinbtn{
    width: 31%;
    height: 7vh;
    border: none;
    background-color: navy;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    margin-left: 140px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}