#title, #auth_input, #find_PW {
  margin-left: 75px;
}

#id_text, #phone_text {
  display: inline-block;
  width: 70px;
}

#find_PW {
  display: block;
  margin-top: 40px;
  width: 110px;
}

#id_input, #phone_input {
  width: 300px;
}

#etc {
  margin-top: 12px;
}

html {
  overflow: hiddlen;
  white-space: nowrap;
}

div {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  margin: auto;
}

input {
  width: 150px;
  height: 30px;
  border: 2px solid navy;
}

button {
  width: 100px;
  height: 30px;
  background-color: white;
  border: 2px solid navy;
}